{% extends './base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}

<div class="container">
    <h1>{% if itemtag %}Обновить тег-предмет{% else %}Создать новый тег-предмет{% endif %}</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Сохранить</button>
    </form>
    {% if itemtag %}
        <a href="{% url 'itemtag_delete' itemtag.id %}" class="btn btn-danger">Удалить</a>
    {% endif %}
</div>

{% endblock %}