{% extends './base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}

<div class="container">
    <h1>{% if product_game %}Обновить продукт-игру{% else %}Создать новый продукт-игру{% endif %}</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Сохранить</button>
    </form>

    

    

    {% if productaccsteam_games %}
        
        <a href="{% url 'product_game_delete' productaccsteam_games.id %}" class="btn btn-danger">Удалить</a>
    {% endif %}
</div>

{% endblock %}