{% extends './base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}

<div class="container">
    <h1>{% if productaccsteam %}Обновить продукт{% else %}Создать новый продукт{% endif %}</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Сохранить</button>
    </form>

    

    

    {% if productaccsteam %}
        
        <a href="{% url 'product_delete' productaccsteam.id %}" class="btn btn-danger">Удалить</a>
    {% endif %}
</div>

{% endblock %}