{% extends './base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}

<div class="container">
    <h1>{% if transactions %}Обновить транзакцию{% else %}Создать новую транзакцию{% endif %}</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Сохранить</button>
    </form>

    

    

    {% if transactions %}
        
        <a href="{% url 'transaction_delete' transactions.id %}" class="btn btn-danger">Удалить</a>
    {% endif %}
</div>

{% endblock %}